<div class="container">
  <h1 class="text-center">Upcoming bookings</h1>
  <ul class="unstyled-list">
    <% @bookings.each do |booking| %>
      <li class="booking">
        <% if booking.spa.photo? %>
          <%= cl_image_tag booking.spa.photo.path, width: 175, class: "product-image" %>
        <% end %>
        <div class="booking-body">
          <h3><%= booking.massage.name %></h3>
          <p><%= booking.massage.description %></p>
        </div>
        <div class="booking-date">
          <%= booking.date %>
        </div>
        <div class="booking-client">
          <%= booking.user.first_name %>
          <%= booking.user.last_name %>
        </div>
      </li>
    <% end %>
  </ul>
</div>





