<div class="container">
  <h1 class="text-center">My upcoming bookings</h1>
  <ul class="unstyled-list">
    <% @bookings.each do |booking| %>
      <li class="booking">
        <% if booking.spa.photo? %>
          <%= cl_image_tag booking.spa.photo.path, width: 175, class: "product-image" %>
        <% end %>
        <%#= booking.spa.name %>
        <div class="booking-body">
          <h3><%= booking.massage.name %></h3>
          <%= booking.massage.description %>
        </div>
        <div class="booking-date">
          <%= booking.date %>
        </div>
        <div >
          <%= link_to 'Cancel my booking', '#', class: "btn btn-warning" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

