
<div class="container">
  <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(<%= cl_image_tag @spa.photo.path, width: 300, height: 200, crop: :fill, quality: "auto" %>);">
    <h1 class="text-center"><%= @spa.name %></h1>
    <div class="row">
      <div class = 'col-sm-8 spas_show'>
      <%# if @spa.photo? %>
        <%= cl_image_tag @spa.photo.path, width: 300, height: 200, crop: :fill %>
        <%# end %>
  </div>
        <p class = 'spa-description'><%= @spa.description.html_safe %></p>
        <div class="row">
          <div class="col-sm-6">
          <h3>Equipments</h3>
            <ul>
              <% @spa.equipments.each do |equipment| %>
                <li><%= equipment %></li>
              <% end %>
            </ul>
          </div>
          <div class="col-sm-6">
            <h3>Installations</h3>
            <ul>
              <% @spa.installations.each do |installation| %>
                <li><%= installation %></li>
              <% end %>
            </ul>
          </div>
        </div>
    </div>

    <div class = 'col-sm-4 massages'>
    <ul class="list-unstyled">
        <% @spa.massages.each do |massage| %>
          <li class = "massage">
            <div class="massage-content">
              <p><strong><%= massage.name %></strong></h3>
              <p><%= massage.description %></p>
            </div>
            <div class="massage-price">
              <p><%= massage.price %>€</p>
            </div>
            <div class="massage-book">
              <%= link_to "Book", new_spa_booking_path(params[:id], massage_id: massage.id) ,  class: "btn btn-primary"%>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


