<h1>Spas#show</h1>
<p>Find me in app/views/spas/show.html.erb</p>

<div class = 'spas_show'>
  <h2><%= @spa.name %></h2>
  <h2><%= @spa.description %></h2>
  <h2><%= @spa.amenities %></h2>
  <%# if @spa.photo? %>
  <%#= cl_image_tag @spa.photo.path, width: 200, height: 300, crop: :fill %>
  <%# end %>
</div>

<div class = 'text-right'>
  <% @spa.massages.each do |massage| %>
    <p><%= massage.name %></p>
    <p><%= massage.description %></p>
    <p><%= massage.price %></p>
    <%= link_to "Book", '#', class: "btn btn-primary"%>
  <% end %>
</div>


