<% content_for :title_tag do %>
  <%= @spa.name %> | book your spa
<% end %>


    <div class="banner banner-photo" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(<%= cl_image_path @spa.photo.path %>);">
      <div class="banner-content">
        <h1><%= @spa.name %></h1>
      </div>
    </div>



<div class="container booking-and-description">
  <div class="row">
    <div class = "col-xs-6">
      <div id="exTab2" class="container col-xs-12">
        <ul class="nav nav-tabs">
          <li class="active"><a  href="#1" data-toggle="tab">Description</a>
          </li>
          <li><a href="#2" data-toggle="tab">Equipements et installations</a>
          </li>
          <li><a href="#3" data-toggle="tab">Avis</a>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="1">
          <p class='spa-description'><%= @spa.description.html_safe %></p>
        </div>
        <div class="tab-pane" id="2">
          <div class="row amenities">
            <div class="col-sm-6">
              <h4>Equipments</h4>
              <ul>
                <% @spa.equipments.each do |equipment| %>
                <li><%= equipment %></li>
                <% end %>
              </ul>
            </div>
            <div class="col-sm-6">
              <h4>Installations</h4>
              <ul>
                <% @spa.installations.each do |installation| %>
                <li><%= installation %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="3">
          <div class="row amenities">
            <div class="col-sm-12 reviews-show">
              <ul class="list-unstyled">
                <% @spa.bookings.each do |booking| %>
                  <li >
                    <div class="unique-review">
                      <div class="avatar-show">
                        <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
                      </div>
                      <div class="stars-and-content">
                        <p><%= render 'shared/stars', rating: booking.rating.to_f %></p>
                        <p><%= booking.content %></p>
                      </div>
                    </div>
                  </li>
                  <hr>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
    <div class="massages-title">
      <p>Massages</p>
    </div>
      <%= render 'bookings/form' %>
    </div>
</div>
</div>
</div>

