
<div class="container">
  <div class="row">
    <div class = 'col-sm-6 spas_show'>
      <h2><%= @spa.name %></h2>
      <h2><%= @spa.description %></h2>
      <h2><%= @spa.amenities %></h2>
      <% if @spa.photo? %>
      <%= cl_image_tag @spa.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
    </div>

    <div class = 'col-sm-6 massages'>
    <ul class="list-unstyled">
        <% @spa.massages.each do |massage| %>
          <li class = "massage">
            <div class="massage-content">
              <h3><%= massage.name %></h3>
              <p><%= massage.description %></p>
            </div>
            <div class="massage-price">
              <p><%= massage.price %>€</p>
            </div>
            <div class="massage-book">
              <%= link_to "Book", '#', class: "btn btn-primary"%>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


